.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.navigation__list {
    display: flex;
    flex-direction: row;
}

.navigation__list__item {
    padding: 32px 0;
}

.navigation__list__item__link {
    padding: 32px 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #1D1F22;
    text-transform: uppercase;
}

.active-link {
    color: #5ECE7B;
    border-bottom: 3px solid #5ECE7B;
}

.header__logo {
    width: 32px;
}

.right-side {
    display: flex;
    align-items: center;
}

.right-side button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 30px;
    margin-left: 5px;
}

.right-side__btn-cart__img {
    height: 100%;
}

.right-side__btn-course span {
    font-size: 20px;
    margin-right: 5px;
}

.currencies-menu {
    z-index: 100;
    position: absolute;
    right: 40px;
    top: 60px;
    width: 100px;
    box-shadow: 10px 10px 10px #d9d9d8;
    text-align: center;
    background-color: white;
}

.currencies__list_item {
    padding: 7px 10px;
}

.currencies__list_item:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

.product-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -15px;
    top: 10px;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #000;
    font-size: 16px;
}